body{font-family: sans-serif;
     margin: 0;}

.sidePanel{width: 20%;
           height: 100vh;
           position: fixed;
           padding: 0;
           margin: 0;
           background-color: #2b2b2b;
           }

.mainPage{background-color: yellow;
          width: 80%;
          height: 100vh;}

.sidePanel h1{font-family: 'Risque', cursive;
            color: #ccccc1;
            font-size: 2em;
            padding: 1em;}

nav > ul{list-style-type: none;
         margin: 0;
         padding: 0;
         background-color: #2b2b2b;
         width: 100%;

         }

.mainMenu li{padding: 1em;
             padding-left: 2em;
             color: #ccccc1;

       }

.mainMenu>li:hover{background-color: #383838;
                   color: #23AE9B;
                   border-right-style: solid;
                   border-right-color: yellow;
                   border-right-width: 5px;
                  }




.mainMenu>li>a, .mainMenu>li>a:hover{text-decoration: none;
                                     color: #ccccc1;
                                     font-weight: bolder;}




.dropDown-menu{list-style-type: none;
               margin: 0;
               padding: 0;
               width: 100%;
}


.dropDown-menu>li{padding: 0.8em;
                  display: none;
                  
}

.dropDown-menu>li:hover{background-color: #383838;
                        border-bottom-style: solid;
                        border-bottom-color: yellow;
                        border-bottom-width: 5px;

}

.dropDown-menu>li>a{text-decoration: none;
                    color: white;
                    font-weight: bold;
                    }


.panelFooter p{color: #ccccc1;
             font-weight: bold;
             font-size: 0.9em;
             padding: 0.4em;
             padding-right: 1em;
             padding-left: 2.2em;}

.panelFooter i,.panelFooter a{text-align: center;
                          padding: 0.1em;
                          text-decoration: none;
                          font-size: 1.8em;
                          color: #ccccc1;}

#leftPadding{padding-left: 1em;}

.panelFooter{position: absolute;
             top: 47em;}

